<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base.html">

<body>
<div layout:fragment="content">
    <div class="container px-4 px-lg-5 pb-5 pt-5">
        <h1 class="display-5 fw-bold">Product Details </h1>
        <p class="col-md-8 fs-6 fw-lighter">Details of product that you have added.</p>
        <div class="card p-5">
            <div class="container-fluid">
                <div class="wrapper row">
                    <div class="preview col-md-4">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1">
                                <img th:src="${product.image}" width="200px" />
                            </div>
                        </div>
                    </div>
                    <div class="details col-md-8">
                        <h3 class="product-title" th:text="${product.name}"></h3>
                        <p class="price m-0">Brand: <span th:text="${product.brand.name}"></span></p>
                        <p class="price m-0">Made In: <span th:text="${product.country.name}"></span></p>

                        <p class="product-description" th:text="${product.description}"></p>

                        <h4 class="price">current price: <span th:text="${product.price}"></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>