<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base.html">

<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-center">
        <div class="text-center">
            <h1 class="display-5 fw-bold">Welcome to Light Product</h1>
            <p class="col-md-8 fs-4">This is a demo product test</p>
            <a th:href="@{/product/create}" class="btn btn-primary btn-lg">Create Product</a>
        </div>
    </div>
</div>
</body>
</html>